<breadcrumb></breadcrumb>

<div class="total-summary">
  <mat-card>
    <mat-card-content>
      <div class="title">Total user</div>
      <h2>{{totalUser}}</h2>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <div class="title">Total product</div>
      <h2>{{totalProduct}}</h2>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <div class="title">Total category</div>
      <h2>{{totalCategories}}</h2>
    </mat-card-content>
  </mat-card>
</div>


<!--
<div *ngIf="users?.length">
  <h3>Users:</h3>
  <ul>
    <li *ngFor="let user of users">{{ user.username }} - {{ user.email }}</li>
  </ul>
</div>
<div *ngIf="categories?.length">
  <h3>Categories:</h3>
  <ul>
    <li *ngFor="let category of categories">{{ category.category_name }}</li>
  </ul>
</div>
<div *ngIf="products?.length">
  <h3>Products:</h3>
  <ul>
    <li *ngFor="let product of products">{{ product.ProductName }} - {{ product.Category }} - {{ product.CreatedBy }}
    </li>
  </ul>
</div> -->